[submodule "src/Common_FPGA_Modbus"]
	path = src/Common_FPGA_Modbus
	url = https://github.com/lsst-ts/Common_FPGA_Modbus.git
[submodule "src/Common_FPGA_HealthAndStatus"]
	path = src/Common_FPGA_HealthAndStatus
	url = https://github.com/lsst-ts/Common_FPGA_HealthAndStatus.git
